@tailwind base;
@tailwind components;
@tailwind utilities;

:root{
  --violet: #D6BFD5; 
  --black: #272930;
  --white: white;
  --background-light: #fdf7ff;
}

body {
    min-height: 100vh;
    height: 100vh;
    color: rgb(var(--foreground-rgb));
    background: var(--background-light);
  }
  

  /* white */
  .logo{
    filter: brightness(0) saturate(100%) invert(96%) sepia(97%) saturate(12%) hue-rotate(237deg) brightness(103%) contrast(103%);
  }




  /* Scroll bar styles */
.scrollbar::-webkit-scrollbar-track
{

	background-color: #F5F5F5;
  border-radius: 4px;

}

.scrollbar::-webkit-scrollbar
{
	width: 8px;
	background-color: #F5F5F5;
}

.scrollbar::-webkit-scrollbar-thumb
{
	background-color: var(--black);
  border-radius: 4px;
}